:root {
    --Side-Bar-background-light: #f7faff;
    --active-text-light: #816578;
    --top-bar-light: #6941c6;
    --btn-hover-light: #6941c6;
    --bdy-background-light: #e9eaf5;
    --text-light: #101828;
    --link-hover-light: #e4e4f8;
    --active-btn-light: #7a5a78;
    --dash-card-light: #ffffff;
    --btn-background-light: #7a5af8;
    --btn-text: #ffffff;
  
    --dash-card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --dash-card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--bdy-background-dark);
  }


  .table-container {
    justify-content: center;
    align-items: center;
    margin-left: 20px ;
    color: var(--text-light);
    max-width: 1280px;
    overflow: hidden;
    overflow-x: scroll;
    font-size: 0.9rem;
  }
  table {
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--dash-card-light);
    text-align: left;
    max-width: 1280px;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: var(--border-radius-1);
  }
  
  thead {
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.267);
  }
  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }
  td {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
  td a {
    text-decoration: none;
    margin: 5px;
    color: var(--btn-background-light);
    padding: 0.2rem 1rem;
    text-align: center;
  }
  td a:hover {
    color: var(--btn-hover-light);
    font-size: 1rem;
  }